force-app/main/default/flows/AgentUtteranceRouterViaMCP_ShadowMode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Agent Utterance Router with Shadow Mode for MCP Integration</description>
    <label>Agent Utterance Router via MCP (Shadow Mode)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MCP_Config</targetReference>
        </connector>
    </start>
    <recordLookups>
        <name>Get_MCP_Config</name>
        <label>Get MCP Config</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Check_Shadow_Mode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MCP_Config__mdt.IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive__c</queriedFields>
        <queriedFields>ShadowMode__c</queriedFields>
        <queriedFields>Mode__c</queriedFields>
        <queriedFields>BaseUrl__c</queriedFields>
        <queriedFields>Timeout__c</queriedFields>
        <queriedFields>RetryCount__c</queriedFields>
        <queriedFields>CorrelationIdPrefix__c</queriedFields>
        <sortOrder>1</sortOrder>
        <sortField>CreatedDate</sortField>
        <sortField>DESC</sortField>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <sObject>MCP_Config__mdt</sObject>
    </recordLookups>
    <decisions>
        <name>Check_Shadow_Mode</name>
        <label>Check Shadow Mode</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Direct_Route_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No MCP Config</defaultConnectorLabel>
        <rules>
            <name>Shadow_Mode_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MCP_Config</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direct_Route_Only</targetReference>
            </connector>
            <label>No MCP Config</label>
        </rules>
        <rules>
            <name>Shadow_Mode_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MCP_Config.ShadowMode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shadow_Mode_Execution</targetReference>
            </connector>
            <label>Shadow Mode Enabled</label>
        </rules>
        <rules>
            <name>MCP_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MCP_Config.ShadowMode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MCP_Route_Only</targetReference>
            </connector>
            <label>MCP Only</label>
        </rules>
    </decisions>
    <subflows>
        <name>Shadow_Mode_Execution</name>
        <label>Shadow Mode Execution</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Log_Shadow_Results</targetReference>
        </connector>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>Utterance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>correlationId</name>
            <value>
                <elementReference>CorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shadowMode</name>
            <value>
                <elementReference>Get_MCP_Config.ShadowMode__c</elementReference>
            </value>
        </inputAssignments>
        <subflowName>ShadowModeExecution</subflowName>
    </subflows>
    <subflows>
        <name>Direct_Route_Only</name>
        <label>Direct Route Only</label>
        <locationX>50</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>Utterance</elementReference>
            </value>
        </inputAssignments>
        <subflowName>LegacyAgentRouter</subflowName>
    </subflows>
    <subflows>
        <name>MCP_Route_Only</name>
        <label>MCP Route Only</label>
        <locationX>50</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>Utterance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>correlationId</name>
            <value>
                <elementReference>CorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shadowMode</name>
            <value>
                <elementReference>Get_MCP_Config.ShadowMode__c</elementReference>
            </value>
        </inputAssignments>
        <subflowName>ANAgentUtteranceRouterViaMCP</subflowName>
    </subflows>
    <actionCalls>
        <name>Log_Shadow_Results</name>
        <label>Log Shadow Results</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <actionName>ANAgentUtteranceLogger</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>correlationId</name>
            <value>
                <elementReference>CorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>Utterance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>directResult</name>
            <value>
                <elementReference>DirectResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>mcpResult</name>
            <value>
                <elementReference>MCPResult</elementReference>
            </value>
        </inputAssignments>
    </actionCalls>
    <assignments>
        <name>Success_Response</name>
        <label>Success Response</label>
        <locationX>50</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>Response.success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request processed successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>Utterance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DirectResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MCPResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
