force-app/main/default/flows/AgentUtteranceRouterViaMCP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Prompt-Triggered Flow for routing agent utterances through MCP</description>
    <label>Agent Utterance Router via MCP</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MCP_Router_Action</targetReference>
        </connector>
    </start>
    <variables>
        <name>utterance</name>
        <value>
            <elementReference>utterance</elementReference>
        </value>
    </variables>
    <variables>
        <name>mcpResponse</name>
        <value>
            <elementReference>mcpResponse</elementReference>
        </value>
    </variables>
    <variables>
        <name>toolResult</name>
        <value>
            <elementReference>toolResult</elementReference>
        </value>
    </variables>
    <variables>
        <name>finalResponse</name>
        <value>
            <elementReference>finalResponse</elementReference>
        </value>
    </variables>
    <subflows>
        <name>MCP_Router_Action</name>
        <label>MCP Router Action</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Tool_Decision</targetReference>
        </connector>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>utterance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>forceMode</name>
            <value>
                <stringValue>BOTH</stringValue>
            </value>
        </inputAssignments>
        <subflowName>ANAgentUtteranceRouterViaMCP</subflowName>
        <outputAssignments>
            <name>mcpResponse</name>
            <value>
                <elementReference>mcpResponse</elementReference>
            </value>
        </outputAssignments>
    </subflows>
    <decisions>
        <name>Tool_Decision</name>
        <label>Tool Decision</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Default_Message</targetReference>
        </defaultConnector>
        <rules>
            <name>Open_Pipe_Analyze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>mcpResponse.tool</elementReference>
                </leftValue>
                <operator>Equals</operator>
                <rightValue>
                    <stringValue>open_pipe_analyze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Pipe_Action</targetReference>
            </connector>
        </rules>
        <rules>
            <name>KPI_Analyze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>mcpResponse.tool</elementReference>
                </leftValue>
                <operator>Equals</operator>
                <rightValue>
                    <stringValue>kpi_analyze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KPI_Action</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Future_Pipeline_Analyze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>mcpResponse.tool</elementReference>
                </leftValue>
                <operator>Equals</operator>
                <rightValue>
                    <stringValue>future_pipeline_analyze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Future_Pipeline_Action</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Search_Content</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>mcpResponse.tool</elementReference>
                </leftValue>
                <operator>Equals</operator>
                <rightValue>
                    <stringValue>search_content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Content_Action</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Search_SME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>mcpResponse.tool</elementReference>
                </leftValue>
                <operator>Equals</operator>
                <rightValue>
                    <stringValue>search_sme</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_SME_Action</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Execute_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>mcpResponse.tool</elementReference>
                </leftValue>
                <operator>Equals</operator>
                <rightValue>
                    <stringValue>execute_workflow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Workflow_Action</targetReference>
            </connector>
        </rules>
    </decisions>
    <subflows>
        <name>Open_Pipe_Action</name>
        <label>Open Pipe Action</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Final_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>mcpResponse.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
        <subflowName>ANAGENT Open Pipe Analysis V3 - MCP Enhanced</subflowName>
        <outputAssignments>
            <name>toolResult</name>
            <value>
                <elementReference>toolResult</elementReference>
            </value>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>KPI_Action</name>
        <label>KPI Action</label>
        <locationX>50</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Final_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>mcpResponse.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
        <subflowName>AN_KPI_FromMCP</subflowName>
        <outputAssignments>
            <name>toolResult</name>
            <value>
                <elementReference>toolResult</elementReference>
            </value>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Future_Pipeline_Action</name>
        <label>Future Pipeline Action</label>
        <locationX>50</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Final_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>mcpResponse.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
        <subflowName>AN_FuturePipeline_FromMCP</subflowName>
        <outputAssignments>
            <name>toolResult</name>
            <value>
                <elementReference>toolResult</elementReference>
            </value>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_Content_Action</name>
        <label>Search Content Action</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Final_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>mcpResponse.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
        <subflowName>AN_SearchContent_FromMCP</subflowName>
        <outputAssignments>
            <name>toolResult</name>
            <value>
                <elementReference>toolResult</elementReference>
            </value>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Search_SME_Action</name>
        <label>Search SME Action</label>
        <locationX>50</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>Final_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>mcpResponse.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
        <subflowName>AN_SearchSME_FromMCP</subflowName>
        <outputAssignments>
            <name>toolResult</name>
            <value>
                <elementReference>toolResult</elementReference>
            </value>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Workflow_Action</name>
        <label>Workflow Action</label>
        <locationX>50</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Final_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>mcpResponse.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
        <subflowName>AN_Workflow_FromMCP</subflowName>
        <outputAssignments>
            <name>toolResult</name>
            <value>
                <elementReference>toolResult</elementReference>
            </value>
        </outputAssignments>
    </subflows>
    <assignments>
        <name>Default_Message</name>
        <label>Default Message</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Final_Response</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>toolResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I'm not sure how to help with that. Try asking about:
- Open pipe analysis: "Show me all products that passed stage 4 within AMER ACC"
- KPI analysis: "Compare AMER ACC vs EMEA ACC for current quarter"
- Future pipeline: "Top renewal products for UKI next quarter"
- Content search: "Find recent ACT courses on Data Cloud"
- SME search: "Find SMEs for Data Cloud in AMER ACC"
- Workflow execution: "Schedule a call with John Smith for next Tuesday"</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Final_Response</name>
        <label>Final Response</label>
        <locationX>50</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>finalResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toolResult</elementReference>
            </value>
        </assignmentItems>
    </assignments>
</Flow>
