force-app/main/default/flows/AgentUtteranceRouterViaMCP_Enhanced.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Enhanced Agent Utterance Router with MCP Integration and Shadow Mode</description>
    <label>Agent Utterance Router via MCP (Enhanced)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_MCP_Config</targetReference>
        </connector>
    </start>
    <decisions>
        <name>Check_MCP_Config</name>
        <label>Check MCP Configuration</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>MCP_Route</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MCP Active</defaultConnectorLabel>
        <rules>
            <name>MCP_Not_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Config.IsActive__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direct_Route</targetReference>
            </connector>
            <label>MCP Not Active</label>
        </rules>
        <rules>
            <name>No_MCP_Config</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Config</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direct_Route</targetReference>
            </connector>
            <label>No MCP Config</label>
        </rules>
    </decisions>
    <subflows>
        <name>MCP_Route</name>
        <label>MCP Route</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Check_MCP_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>Utterance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>correlationId</name>
            <value>
                <elementReference>CorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shadowMode</name>
            <value>
                <elementReference>MCP_Config.ShadowMode__c</elementReference>
            </value>
        </inputAssignments>
        <subflowName>ANAgentUtteranceRouterViaMCP</subflowName>
    </subflows>
    <decisions>
        <name>Check_MCP_Response</name>
        <label>Check MCP Response</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Route_To_Adapter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>MCP_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Response.success</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Response</targetReference>
            </connector>
            <label>MCP Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_To_Adapter</name>
        <label>Route to Adapter</label>
        <locationX>50</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Error_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Tool</defaultConnectorLabel>
        <rules>
            <name>Future_Pipeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Response.tool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>future_pipeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Future_Pipeline_Adapter</targetReference>
            </connector>
            <label>Future Pipeline</label>
        </rules>
        <rules>
            <name>Open_Pipe_Analyze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Response.tool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>open_pipe_analyze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Open_Pipe_Adapter</targetReference>
            </connector>
            <label>Open Pipe Analyze</label>
        </rules>
        <rules>
            <name>KPI_Analyze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Response.tool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kpi_analyze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_KPI_Adapter</targetReference>
            </connector>
            <label>KPI Analyze</label>
        </rules>
        <rules>
            <name>Content_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Response.tool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>content_search</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Content_Search_Adapter</targetReference>
            </connector>
            <label>Content Search</label>
        </rules>
        <rules>
            <name>SME_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Response.tool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sme_search</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_SME_Search_Adapter</targetReference>
            </connector>
            <label>SME Search</label>
        </rules>
        <rules>
            <name>TSV_Export</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Response.tool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>tsv_export</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_TSV_Export_Adapter</targetReference>
            </connector>
            <label>TSV Export</label>
        </rules>
        <rules>
            <name>Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCP_Response.tool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>workflow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Workflow_Adapter</targetReference>
            </connector>
            <label>Workflow</label>
        </rules>
    </decisions>
    <actionCalls>
        <name>Call_Future_Pipeline_Adapter</name>
        <label>Call Future Pipeline Adapter</label>
        <locationX>50</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <actionName>AN_FuturePipeline_FromMCP</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>MCP_Response.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
    </actionCalls>
    <actionCalls>
        <name>Call_Open_Pipe_Adapter</name>
        <label>Call Open Pipe Adapter</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <actionName>ANAGENT Open Pipe Analysis V3 - MCP Enhanced</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>MCP_Response.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
    </actionCalls>
    <actionCalls>
        <name>Call_KPI_Adapter</name>
        <label>Call KPI Adapter</label>
        <locationX>50</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <actionName>AN_KPI_FromMCP</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>MCP_Response.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
    </actionCalls>
    <actionCalls>
        <name>Call_Content_Search_Adapter</name>
        <label>Call Content Search Adapter</label>
        <locationX>50</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <actionName>AN_SearchContent_FromMCP</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>MCP_Response.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
    </actionCalls>
    <actionCalls>
        <name>Call_SME_Search_Adapter</name>
        <label>Call SME Search Adapter</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <actionName>AN_SearchSME_FromMCP</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>MCP_Response.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
    </actionCalls>
    <actionCalls>
        <name>Call_TSV_Export_Adapter</name>
        <label>Call TSV Export Adapter</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <actionName>ANAgentTSVExportViaMCP</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>analysisType</name>
            <value>
                <elementReference>MCP_Response.analysisType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>limitRecords</name>
            <value>
                <elementReference>MCP_Response.limitRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>customFileName</name>
            <value>
                <elementReference>MCP_Response.customFileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>requestId</name>
            <value>
                <elementReference>CorrelationId</elementReference>
            </value>
        </inputAssignments>
    </actionCalls>
    <actionCalls>
        <name>Call_Workflow_Adapter</name>
        <label>Call Workflow Adapter</label>
        <locationX>50</locationX>
        <locationY>1000</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <actionName>AN_Workflow_FromMCP</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>normalizedArgsJsons</name>
            <value>
                <elementReference>MCP_Response.normalizedArgsJson</elementReference>
            </value>
        </inputAssignments>
    </actionCalls>
    <subflows>
        <name>Direct_Route</name>
        <label>Direct Route</label>
        <locationX>50</locationX>
        <locationY>1100</locationY>
        <connector>
            <targetReference>Success_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>Utterance</elementReference>
            </value>
        </inputAssignments>
        <subflowName>LegacyAgentRouter</subflowName>
    </subflows>
    <assignments>
        <name>Success_Response</name>
        <label>Success Response</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>Response.success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request processed successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Response</name>
        <label>Error Response</label>
        <locationX>50</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>Response.success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MCP_Response.message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>Utterance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MCP_Config</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MCP_Response</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
