force-app/main/default/flows/OpenPipeAnalysisViaMCP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Prompt-Triggered Flow for Open Pipe Analysis via MCP</description>
    <label>Open Pipe Analysis via MCP</label>
    <processType>Prompt</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_To_MCP</targetReference>
        </connector>
    </start>
    <subflows>
        <name>Route_To_MCP</name>
        <label>Route to MCP</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Check_Tool</targetReference>
        </connector>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>utterance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>mode</name>
            <value>
                <stringValue>ROUTE</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <decisions>
        <name>Check_Tool</name>
        <label>Check Tool</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <rules>
            <name>Not_Open_Pipe_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>Route_To_MCP.tool</elementReference>
                </leftValue>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>open_pipe_analyze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PipeGen_Guidance</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Is_Open_Pipe_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>Route_To_MCP.tool</elementReference>
                </leftValue>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>open_pipe_analyze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pattern_Decision</targetReference>
            </connector>
        </rules>
    </decisions>
    <assignments>
        <name>PipeGen_Guidance</name>
        <label>PipeGen Guidance</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
        <assignmentItems>
            <name>result</name>
            <value>
                <stringValue>This appears to be PipeGen/Renewals. Use the PipeGen action instead.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Pattern_Decision</name>
        <label>Pattern Decision</label>
        <locationX>50</locationX>
        <locationY>400</locationY>
        <rules>
            <name>Pattern_2_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>usePattern2</elementReference>
                </leftValue>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Existing_Apex</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Pattern_1_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValue>
                    <elementReference>usePattern2</elementReference>
                </leftValue>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Analyze_Via_MCP</targetReference>
            </connector>
        </rules>
    </decisions>
    <subflows>
        <name>Call_Existing_Apex</name>
        <label>Call Existing Apex</label>
        <locationX>50</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Format_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>ouName</name>
            <value>
                <elementReference>Route_To_MCP.args.ouName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>minStage</name>
            <value>
                <elementReference>Route_To_MCP.args.minStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>timeFrame</name>
            <value>
                <elementReference>Route_To_MCP.args.timeFrame</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>limitN</name>
            <value>
                <elementReference>Route_To_MCP.args.limitN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>country</name>
            <value>
                <elementReference>Route_To_MCP.args.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productListCsv</name>
            <value>
                <elementReference>Route_To_MCP.args.productListCsv</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Analyze_Via_MCP</name>
        <label>Analyze via MCP</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Format_Response</targetReference>
        </connector>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>utterance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>mode</name>
            <value>
                <stringValue>ANALYZE</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <assignments>
        <name>Format_Response</name>
        <label>Format Response</label>
        <locationX>50</locationX>
        <locationY>700</locationY>
        <connector>
            <targetReference>End_Flow</targetReference>
        </connector>
        <assignmentItems>
            <name>result</name>
            <value>
                <stringValue>Open Pipe Analysis completed successfully. Results: {!Call_Existing_Apex.result} OR {!Analyze_Via_MCP.responseBody}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <end>
        <name>End_Flow</name>
        <label>End Flow</label>
        <locationX>50</locationX>
        <locationY>800</locationY>
    </end>
    <variables>
        <name>utterance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>usePattern2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
