force-app/main/default/flows/ShadowModeExecution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Shadow Mode Execution - Runs both Direct and MCP paths in parallel</description>
    <label>Shadow Mode Execution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Execute_Direct_Path</targetReference>
        </connector>
    </start>
    <actionCalls>
        <name>Execute_Direct_Path</name>
        <label>Execute Direct Path</label>
        <locationX>50</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Execute_MCP_Path</targetReference>
        </connector>
        <actionName>LegacyAgentRouter</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>utterance</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>DirectResult</assignToReference>
            <field>Response</field>
        </outputAssignments>
    </actionCalls>
    <actionCalls>
        <name>Execute_MCP_Path</name>
        <label>Execute MCP Path</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Compare_Results</targetReference>
        </connector>
        <actionName>ANAgentUtteranceRouterViaMCP</actionName>
        <actionType>flow</actionType>
        <inputAssignments>
            <name>utterance</name>
            <value>
                <elementReference>utterance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>correlationId</name>
            <value>
                <elementReference>correlationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shadowMode</name>
            <value>
                <elementReference>shadowMode</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MCPResult</assignToReference>
            <field>Response</field>
        </outputAssignments>
    </actionCalls>
    <assignments>
        <name>Compare_Results</name>
        <label>Compare Results</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DirectResult</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <variables>
        <name>utterance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shadowMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DirectResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MCPResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
