force-app/main/default/flows/Test_Nomination_Integration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Test Flow for APM Nomination Integration V2</description>
    <environments>Default</environments>
    <interviewLabel>Test Nomination Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Nomination Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Nomination_Record</targetReference>
        </connector>
    </start>
    <variables>
        <name>nominationResult</name>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FRAgentAPMNominationHandlerV2.Response</objectType>
        <value>
            <elementReference>Create_Nomination_Record</elementReference>
        </value>
    </variables>
    <recordCreates>
        <name>Create_Nomination_Record</name>
        <label>Create Nomination Record</label>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
        <inputAssignments>
            <field>offeringName</field>
            <value>
                <stringValue>Flow Test Course</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enablementsId</field>
            <value>
                <stringValue>ENABLE-FLOW-001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>programType</field>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enablementTool</field>
            <value>
                <stringValue>Trailhead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>startDate</field>
            <value>
                <dateValue>TODAY</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>endDate</field>
            <value>
                <dateValue>TODAY</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>notes</field>
            <value>
                <stringValue>Test nomination created via Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>createdUser</field>
            <value>
                <stringValue>Flow Test User</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Display_Results</name>
        <label>Display Results</label>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <fieldText>
                <fieldText>Success: {!nominationResult.success}</fieldText>
            </fieldText>
        </fields>
        <fields>
            <fieldText>
                <fieldText>Message: {!nominationResult.message}</fieldText>
            </fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
</Flow> 